body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color:black;
    background-color:pink;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Verdana", sans-serif;
    font-size: 20px;                     
    font-weight: bold;                   
    font-style: italic;                
    color: darkblue; 
}
img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 3px solid #333;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

